*{
    margin: 0;
    z-index: 0;
    outline: 1px solid rgb(238, 216, 245);
}

body{
    background-color:#f4f4f4;
}
.el-alert{
  width: 60%;
  border: solid 1px;
  margin-left: 50px;
  margin-top: 50px;
  margin: 0 auto;
}


.v-modal{
  position: static;
  z-index: 10;
  opacity: 1.0;
}
